@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

/* Header */
.header-area {
  display: flex;
  padding: 25px 0 0;
  position: relative;
}

.header-area .logo {
  text-transform: uppercase;
  font-style: italic;
  margin-top: 10px;
  font-size: 19px;
  width: 300px;
  color: #5d5d5d;
}

.header-area .links {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: right;
}

.header-area .links li {
  display: inline-block;
  margin-left: 30px;
  color: #5d5d5d;
  cursor: pointer;
}

.header-area .links li:last-child {
  border: 0;
  border-radius: 20px;
  padding: 10px 18px;
  color: #fff;
  background-color: #6c63ff;
}

.info {
  width: 35%;
}

.info h1 {
  font-size: 44px;
  margin: 0 0 20px;
  line-height: 1.4;
  color: #5d5d5d;
  font-family: Montserrat;
}

.info p {
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
  color: #5d5d5d;
}

.info button {
  border: 0;
  border-radius: 20px;
  padding: 12px 30px;
  margin-top: 30px;
  cursor: pointer;
  color: #fff;
  background-color: #6c63ff;
}

/* Point of view */
.img-banner {
  width: 80%;
}

.mt-100px {
    margin-top: 100px;
}

.text-montserat {
    font-family: Montserrat;
}

.fc-grey {
    color: #5d5d5d;
}

.border-bottom-grey {
    border-bottom: 1px solid #5d5d5d;
}

/* Card */
.card {
    background: transparent;
    border: 2px solid #bbbbbb;
}

.card .text-description {
    color: #5d5d5d;
}

.card .divider{
    background: #5c6076 !important;
}

.pointer{
    cursor: pointer;
}